$colors: (
  primary: rgb(70, 90, 96),
  accent: #033391,
);
body,
html {
  height: 100%;
}

#container {
  /* The image used */
  background-color: map-get($colors, primary);
  font-family: monospace;
  font-weight: bold;
}
input {
  height: 30px;
  width: 250px;
  margin: 20px;
  padding-left: 20px;
  background-color: rgb(167, 225, 247);
  border-radius: 15px;
  outline: medium;
}

ul {
  font-size: x-large;
  align-self: center;
  text-decoration: underline;
  text-align: justify;
  margin-left: 30%;
}
li {
  margin-top: 20px;
}
