$colors: (
  primary: rgb(77, 170, 196),
  accent: #ffffff,
);
body,
html {
  height: 100%;
}

.container {
  /* The image used */
  background-color: map-get($colors, primary);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;
  padding-top: 5%;
  font-family: monospace;
  font-weight: bold;
}
input {
  height: 30px;
  width: 250px;
  margin: 20px;
  padding-left: 20px;
  background-color: rgb(163, 163, 163);
  border-radius: 15px;
  outline: medium;
  /* align-content: center; */
}
button {
  height: 50px;
  margin: 5px;
  font-size: 20pt;
  cursor: pointer;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  text-decoration: none;
  outline: medium;
  color: rgb(0, 100, 22);
  background-color: #49c74d;
  border-radius: 15%;
  box-shadow: 1px 3px #4d4e4d;
}
button:hover {
  background-color: #3cad40;
}

button:active {
  background-color: #44c248;
  box-shadow: 1px 1px #666;
  transform: translateY(4px);
}
h1 {
  font-family: monospace;
  margin: 10px;
}
